<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asion.business.module.user.mapper.UserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, PASSWORD, REAL_NAME, GENDER, BIRTHDAY, ORG_ID, AREA_ID, MOBILE_PHONE, ADDRESS, EMAIL, ENABLE
    </sql>

	<!-- 查询用户的角色编号通用SQL -->
	<sql id="Select_RoleIds_Sql">
		SELECT DISTINCT UR.ROLE_ID
		FROM LOC_USER_ROLE UR
		INNER JOIN LOC_ROLE ROLE ON UR.ROLE_ID = ROLE.ROLE_ID
		WHERE UR.USER_ID = #{userId}
		AND ROLE.ENABLE IS TRUE
	</sql>

	<!-- 查询用户的角色编号集 -->
	<select id="getRoles" resultType="java.lang.String">
		<include refid="Select_RoleIds_Sql"/>
	</select>

	<!-- 查询用户的权限集 -->
	<select id="getPermissions" resultType="java.lang.String">
		SELECT DISTINCT PERMISSION
		FROM LOC_MENU
		WHERE PERMISSION IS NOT NULL
		<![CDATA[ AND PERMISSION <> '' ]]>
		<if test="userId != null">
			AND MENU_ID IN (
				SELECT MENU_ID
				FROM LOC_ROLE_MENU
				WHERE ROLE_ID IN (
					<include refid="Select_RoleIds_Sql"/>
				)
			)
		</if>
	</select>
</mapper>
