<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asion.business.tree.mapper.TreeMapper">
	<resultMap id="BaseResultMap" type="com.asion.business.tree.model.Tree">
		<result column="ID" property="id" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
		<result column="LEVEL" property="level" jdbcType="INTEGER" />
	</resultMap>
</mapper>