<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asion.business.module.area.mapper.AreaMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, PARENT_ID, LEVEL, X, Y, ASTEXT(SHAPE) AS SHAPE
    </sql>

</mapper>
