<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asion.business.module.attach.mapper.AttachMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, DOMAIN_ID, TARGET_ID, FIELD_ID, NAME, URL, TYPE, SIZE, BUCKET, PRESIGNED_URL
    </sql>

</mapper>
